input.rangeSlider{-webkit-appearance:none;margin:5px 10px;width:90%}
.animDiv{text-align: left;}
.animControl{padding: 10px 5px;border: 1px solid #efefef;margin: 5px;background: #fbfbfb; text-align: center;}